.address-header{height:0.88rem;padding: 0 0.2rem;display: flex;justify-content: space-between;background: #ff5524;}
.address-header>.address-header-left{height: 0.88rem;}
.address-header>.address-header-left>i{font: 0.4rem/0.88rem "";color:#fff;}
.address-header>.address-header-right{height: 0.88rem;}
.address-header>.address-header-right>i{font: 0.4rem/0.88rem "";color: #fff;}
.address-header>a{font: 0.34rem/0.88rem "";color: #323232;display: block;color: #fff;}
.address-content{overflow: auto;}


