@import '@/lib/reset.scss';
.choose-header{
  height: 0.8rem;border: 0.01rem solid rgba(255,255,255,0);
input[type="text"]{
  width: 3.57rem;height: 0.3rem;border:0.01rem solid #BBBBBB;text-align: center;font:0.14rem/0.2rem "Arial";vertical-align: middle;border-radius: 0.04rem;color:rgba(119,119,119,1);margin: 0.1rem 0 0 0.1rem;}
ul{
  margin: 0.05rem 0.1rem 0 0.1rem; display: flex;justify-content:space-between;
  li{
    width: 1.18rem;height: 0.3rem;font: 0.16rem/0.3rem "Arial";color: #8e8e8e;text-align: center;vertical-align: middle;
  }
  .active{border-bottom:0.04rem solid #FFFFFF}
}
}