@import '@/lib/reset.scss';
html, body, #root, .detail {
  @include rect(100%, 100%);
}
.detail{
  overflow: auto;
  // position: relative;
  @include flexbox();
  @include flex-direction(column);
  .header{
    // position:fixed;
    @include flexbox();
    @include rect(100%, .9rem);
    background: red;
    @include justify-content(space-between);
    @include align-items();
    padding: 0 .29rem 0 .32rem;
    .left{
      @include rect(.38rem,.52rem);
      @include flexbox();
      @include align-items();
      i{
        @include font-size(.52rem);
        @include text-color(#fff);
      }
    }
    .content{
      @include flexbox();
      span{
        &:nth-child(2){
          background: #fff;
          @include text-color(#999);
        }
        @include rect(.88rem,.52rem);
        @include text-align();
        line-height: .52rem;
        background:#666;
        @include font-size(.28rem);
        @include text-color(#fffefe);
      }
    }
    .right{
      @include rect(1.1rem, .52rem);
      @include flexbox();
      @include justify-content(space-between);
      @include align-items();
      i{
        @include font-size(.52rem);
        @include text-color(#fff);
      }
    }
  }
  .main {
    @include flex();
    @include rect(100%, auto);
    overflow: auto;
    .banner{
      @include rect(100%, 7.76rem);
      img{
        @include rect(100%,100%);
      }
    }
  }
}