@import '@/lib/reset.scss';
* { touch-action: pan-y }
html, body, #root, .container {
  @include rect(100%, 100%);
  
}
.container {
  @include flexbox();
  @include flex-direction(column);
  .box {
    @include flex();
    @include rect(100%, auto);
    @include flexbox();
    @include flex-direction(column);
    overflow: auto;
  }
  .footer {
    @include rect(100%, 0.96rem);
    border-top:.02rem solid #b2b2b2;
    .footer-box {
      @include rect(100%, 100%);
      @include flexbox();
      background: #fff;
      a {
        @include flex();
        @include rect(auto, 100%);
        @include flexbox();
        @include flex-direction(column);
        @include justify-content();
        @include align-items();
        @include text-color(#333);
        i{
          @include font-size(.48rem);
          line-height: .5rem;
        }
        p{
          @include font-size(.22rem);
          line-height: .28rem;
          @include text-color(#323232);
        }
        &.active {
          @include text-color(#ff5524);
          p{
          @include text-color(#ff805b);
          }
        }
      }
    }
  }
}